body, html {
    height: 100%;
    margin: 0;
    background: #f0f0f0;
  }
  
  .electron-border {
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    position: relative;
    overflow: hidden;
  }
  
  #electronFlowCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  